# Regular expressions

## Whats the purpose of regular expressions?

Regular Expressions are extensively used for:
       
        1.To Extract insignts about the text ->  findall()
        2.To Clean the text -> sub()

Basic meta charecters used in regular expressions

    . -> matches a single character
    * -> matches zero or more occourrence of the previous charecter
    + -> matches one or more occourrence of the previous charecter
    ^ -> matches any character start of a string
    $ -> matches any character end of a string
    [] -> matches one of the set of characters within []
    [a-z] -> matches on of the range of characters in lowercase alphabet
    [^abc] -> matches a character that is not a, b, or c

In [2]:
import re
import pandas as pd

In [5]:
text = 'Around 2500 patients are a taking part in clinical trails #Coronavirus'

In [9]:
print(text)
re.findall('[a-z]+', text) # Find all sequency of lower case characters

Around 2500 patients are a taking part in clinical trails #Coronavirus

['round',
 'patients',
 'are',
 'a',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'oronavirus']

In [8]:
print(text)
re.findall('[a-zA-Z]+', text) # Find all sequency of lower & upper case characters

Around 2500 patients are a taking part in clinical trails #Coronavirus

['Around',
 'patients',
 'are',
 'a',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'Coronavirus']

In [10]:
print(text)
re.findall('[^a-zA-Z]+', text)

Around 2500 patients are a taking part in clinical trails #Coronavirus

[' 2500 ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' #']

 Extended Regular Expressions:
 
     \d -> Any digit, equivalent to [0-9]
     \D -> Any non-digit, equivalent to [^0-9]
    \w -> Any alphanumeric, equivalent to [a-zA-Z0-9_]
    \W -> Non-alphanumeric, equivalent to [^a-zA-Z0-9_]
    \s -> Any whitespace character
    \S -> Any nonwhitespace character
    
    () -> Scoping for extraction
    ? -> Make a pattern non greedy

In [11]:
print(text)
re.findall('\w+', text) # Find all sequency of word characters[a-zA-Z0-9_]

Around 2500 patients are a taking part in clinical trails #Coronavirus

['Around',
 '2500',
 'patients',
 'are',
 'a',
 'taking',
 'part',
 'in',
 'clinical',
 'trails',
 'Coronavirus']

In [1]:
text = "The film Titanic was released in year 98 and was a hit till the year 2000 \n5000 was the cost of the mobile\ni baragined it to "

In [3]:
print(text)

The film Titanic was released in year 98 and was a hit till the year 2000
5000 was the cost of the mobile
i baragined it to

In [6]:
for line in text.split("\n"):
    patterns = re.findall("\d+",line)
    if len(patterns)>0:
        print(patterns)

['98', '2000']
['5000']

In [18]:
text = 'A message from csev@umich.edu to cwen@iupui.edu about meeting @2PM'

In [19]:
re.findall("\S+@\S+", text)

['csev@umich.edu', 'cwen@iupui.edu']

In [20]:
re.findall("\s+@\S+", text)

[' @2PM']

In [21]:
re.findall("\S+@(\S+)", text)

['umich.edu', 'iupui.edu']

In [22]:
re.findall("(\S+)@\S+", text)

['csev', 'cwen']

#### Cleaning text using re.sub

In [37]:
text = 'Around 2,500 patients are taking part in clinical trails #Coronavirus'

In [40]:
print(text)
re.sub('[^\w]', '', text) # or [\W]

Around 2,500 patients are taking part in clinical trails #Coronavirus

'Around2500patientsaretakingpartinclinicaltrailsCoronavirus'

In [44]:
print(text)
re.sub('[^\w\s]', '', text)

Around 2,500 patients are taking part in clinical trails #Coronavirus

'Around 2500 patients are taking part in clinical trails Coronavirus'

In [46]:
text = "film ABC  @ was ? produced %  in , year $ 1994  .  'by'   Mr_X"

In [47]:
#Removing special charecters with nothing
result1 = re.sub("[,@'?.$%_]", "", text)
result1

'film ABC   was  produced   in  year  1994    by   MrX'

In [48]:
#Removing special charecters(non Alpha numeric and Space) with nothing
result1 = re.sub("[^a-zA-Z0-9 ]","",text)
result1

'film ABC   was  produced   in  year  1994    by   MrX'

In [49]:
# \W -> Alphanumeric with underscores
#\s -> Space
result1 = re.sub("[^\w\s]","",text)
result1

'film ABC   was  produced   in  year  1994    by   Mr_X'

In [51]:
#Removing multiple spaces with a single space
result = re.sub("\s+", " ", result1)
result

'film ABC was produced in year 1994 by Mr_X'

### Extracting text from HTML tags

In [32]:
text = """<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.amazon.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>"""

In [33]:
print(text)

<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.amazon.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>

To Extract Text Between the HTML tages we need to remove all the text between < and >
i.e remove  Zero or more occourrence of any chatecter between < and >

In [34]:
print(re.sub('<.*>',"",text))

In [ ]:
#.* and + are greedy - it matches everything including the closing angular bracket >
# .* and .+ should stop matching a pattern as soon as it encounters the closing angular bracket
# use a "?" along with .* and .+ to make it non greedy

In [35]:
print(re.sub('<.*?>',"",text))

 H2O
 AutoML
 Driverless AI

## Extracting hashtags from tweets

In [ ]:
text = 'Around 2,500 patients are taking part in clinical trails #Coronavirus'
print(text)
print(re.findall('#\w+', text))

In [ ]:
tweets = pd.read_csv('C:/Users/Raghavendra N/OneDrive/Official/Datasets/tweets_donald_trump.csv')
tweets.head()

Obtain the frequency of each of the hashtags

- Step1: Extract all the hash tags and store them in a list
- Step2: Compute the frequency of each of the hashtags

## Cleaning salary

In [ ]:
jobs = pd.read_csv('C:/Users/Raghavendra N/OneDrive/Official/Datasets/datascience_jobs.csv')
jobs.head(5)

In [ ]:
# Task : From the salary column extract the minimum and maximum salary, NA if unable to extract