## Python Pandas : Handling Structured Data using Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. In this session we are going to learn about
 - DataFrames and Series in Python Pandas
 - Creating DataFrames and loading data into Pandas
 - Indexing, Slicing data
 - Sorting, Filtering, Groupby, Pivot functionalities
 - Merging dataframes
 

## Series and DataFrame

When we work with tabular data, pandas help us explore, clean and process the data. This tabular data is called as a DataFrame in pandas. A dataframe can be visually represented as follows

<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png" height=400 width=400>

In [3]:
# import pandas library
import pandas as pd

# check the version of pandas
pd.__version__

'1.0.5'


### Working with Cricket Match Data

To learn about dataframes there is no better way than to work with real data and hence we will learn all the functionalities in pandas using this online retail data.

This is a dataset for ODI Cricket mathces downloaded from https://cricsheet.org/.

Description as follows. 

  * match_id
  * season
  * start_date
  * venue
  * innings
  * ball
  * batting_team
  * bowling_team
  * striker
  * non_striker
  * bowler
  * runs_off_bat
  * extras
  * wides
  * noballs
  * byes
  * legbyes
  * penalty
  * wicket_type
  * player_dismissed
  * other_wicket_type
  * other_player_dismissed

Most of the fields above should, hopefully, be self-explanatory, but some may
benefit from clarification...

 - "innings" contains the number of the innings within the match. If a match is one that would normally have 2 innings, such as a T20 or ODI, then any innings of more than 2 can be regarded as a super over.

 - "ball" is a combination of the over and delivery. For example, "0.3" represents the 3rd ball of the 1st over.

 - "wides", "noballs", "byes", "legbyes", and "penalty" contain the total of each particular type of extras, or are blank if not relevant to the delivery.

 - If a wicket occurred on a delivery then "wicket_type" will contain the method of dismissal, while "player_dismissed" will indicate who was dismissed. There is also the, admittedly remote, possibility that a second dismissal can be recorded on the delivery (such as when a player retires on the same delivery as another dismissal occurs). In this case "other_wicket_type" will record the reason, while "other_player_dismissed" will show who was dismissed.

In [6]:
# let us load the dataset into a pandas dataframe
df = pd.read_csv("t20s_male_csv/211028.csv")

# preview your dataframe head and tail

print(df.head())

print(df.tail(2))

   match_id  season  start_date          venue  innings  ball batting_team  \
0    211028    2005  2005-06-13  The Rose Bowl        1   0.1      England
1    211028    2005  2005-06-13  The Rose Bowl        1   0.2      England
2    211028    2005  2005-06-13  The Rose Bowl        1   0.3      England
3    211028    2005  2005-06-13  The Rose Bowl        1   0.4      England
4    211028    2005  2005-06-13  The Rose Bowl        1   0.5      England

  bowling_team         striker     non_striker  ... extras  wides  noballs  \
0    Australia  ME Trescothick        GO Jones  ...      0    NaN      NaN
1    Australia  ME Trescothick        GO Jones  ...      0    NaN      NaN
2    Australia        GO Jones  ME Trescothick  ...      0    NaN      NaN
3    Australia        GO Jones  ME Trescothick  ...      0    NaN      NaN
4    Australia        GO Jones  ME Trescothick  ...      0    NaN      NaN

   byes  legbyes  penalty  wicket_type  player_dismissed other_wicket_type  \
0   NaN      NaN      NaN          NaN               NaN               NaN
1   NaN      NaN      NaN          NaN               NaN               NaN
2   NaN      NaN      NaN          NaN               NaN               NaN
3   NaN      NaN      NaN          NaN               NaN               NaN
4   NaN      NaN      NaN          NaN               NaN               NaN

  other_player_dismissed
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN

[5 rows x 22 columns]
     match_id  season  start_date          venue  innings  ball batting_team  \
213    211028    2005  2005-06-13  The Rose Bowl        2  14.2    Australia
214    211028    2005  2005-06-13  The Rose Bowl        2  14.3    Australia

    bowling_team     striker    non_striker  ... extras  wides  noballs  byes  \
213      England  GD McGrath  MS Kasprowicz  ...      0    NaN      NaN   NaN
214      England  GD McGrath  MS Kasprowicz  ...      0    NaN      NaN   NaN

     legbyes  penalty  wicket_type  player_dismissed other_wicket_type  \
213      NaN      NaN          NaN               NaN               NaN
214      NaN      NaN       bowled        GD McGrath               NaN

    other_player_dismissed
213                    NaN
214                    NaN

[2 rows x 22 columns]

In [8]:
# information about the records in the dataframe 

print("shape of the data", df.shape)

df.info()

shape of the data (215, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                215 non-null    int64
 1   season                  215 non-null    int64
 2   start_date              215 non-null    object
 3   venue                   215 non-null    object
 4   innings                 215 non-null    int64
 5   ball                    215 non-null    float64
 6   batting_team            215 non-null    object
 7   bowling_team            215 non-null    object
 8   striker                 215 non-null    object
 9   non_striker             215 non-null    object
 10  bowler                  215 non-null    object
 11  runs_off_bat            215 non-null    int64
 12  extras                  215 non-null    int64
 13  wides                   4 non-null      float64
 14  noballs                 4 non-null      float64
 15  byes                    1 non-null      float64
 16  legbyes                 3 non-null      float64
 17  penalty                 0 non-null      float64
 18  wicket_type             18 non-null     object
 19  player_dismissed        18 non-null     object
 20  other_wicket_type       0 non-null      float64
 21  other_player_dismissed  0 non-null      float64
dtypes: float64(8), int64(5), object(9)
memory usage: 37.1+ KB

In [3]:
# summary statistics of dataframe

In [4]:
# column names


# rename column names (take care of inplace)

In [5]:
# set match_id to index and remove match_id columnindex

## Indexing, slicing and filtering

In [6]:
# indexing and slicing in pandas : subset, loc, iloc

# extract only columsn of batting_team, striker and runs_off_bat

In [7]:
# extract data using indexing iloc
# find data for first 36 balls bowled

In [8]:
# extract data for all the balls on which a boundry is hit

In [9]:
# using loc find boundry (4) and the striker

In [10]:
# using loc find boundry (4 & 6) and the striker

## Summarizing data

In [11]:
# unique values and value counts

# find the batsmen who were on strike in the match

In [12]:
# find the run score method

In [13]:
# calculate total and average

In [14]:
# group by
# calculate the runs scored by each batsmen

In [15]:
#pivot table